:root {
  --clr-bg-color-primary: #ffffff;
  /* --clr-primary: #00aef7; */
  --clr-primary: #b3fd4c;
  --clr-accent: #0146b1;
  --clr-secondary: #ff9551;
  --clr-error: #ff876f;
  --clr-warning: #ffcb11;
  --clr-success: #6eff4e;
  --clr-gray: #3a4b40;
  --clr-gray-light: #232323;

  --clr-text: #1e1e2c;
  --clr-text-light: #80899b75;

  --clr-fg-primary: #dfe5ed;

  /* ----------| Bootstrap overwrite |------------- */
  --bs-danger-rgb: #ff876f;

  /* ----------------------- */
  --clr-bg-device-gw: #032395;
  --clr-bg-device-comm: #7ce7ff;
  --clr-bg-device-smart: #0d7eae;

  /* ----------| Dashboard |------------- */
  --clr-dashboard-sidebar-bg: rgba(241, 241, 241, 0.701);

  /* ----------| Greys |------------- */
  --clr-grey-500: #3b3b3b;
}

body {
  position: relative;
  /* background: var(--clr-bg-color-primary) !important; */
  color: var(--clr-text) !important;
}

.ml-auto {
  margin-left: auto !important;
}

.clr-success {
  color: var(--clr-success) !important;
}

.clr-error {
  color: var(--clr-error) !important;
}
